/*
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

body,
input,
select,
textarea {
	font-size: 11pt;
}

.image-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

.self-portrait {
	width: 40%;
	margin: 3rem 2rem;
	border-radius: 50%;
	border: whitesmoke solid 2px;
	flex-shrink: 0;
}

.image-container p {
	margin-right: 1rem;
}

.contact-container {
	flex-direction: column !important;
	align-content: center;
	justify-content: space-evenly;
	gap: 4rem;
	font-size: 2.5rem;
}

.contact-container i{
	font-size: 8rem;
}

.phone, .email {
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	background-color: rgba(65, 78, 77, 0.728);
	padding: 2rem;
	max-width: 500px;
	margin: 0 auto;
	border-radius: 10px;
}

